apps/legacy_ingest/systems/norte-clinic/backend/app/schemas/tiss_v4_01_00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoProcedimento/v40100"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoProcedimento/v40100"
             name="tissSolicitacaoProcedimento">

    <types>
        <xsd:schema targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoProcedimento/v40100">
            <xsd:element name="loteGuias">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="cabecalho">
                           <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="registroANS" type="xsd:string"/>
                                    <xsd:element name="numeroGuia" type="xsd:string"/>
                                </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="guia" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="dadosBeneficiario">
                                         <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="numeroCarteira" type="xsd:string"/>
                                                <xsd:element name="nomeBeneficiario" type="xsd:string"/>
                                            </xsd:sequence>
                                         </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="dadosProcedimento">
                                         <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="codigoTuss" type="xsd:string"/>
                                                <xsd:element name="descricaoProcedimento" type="xsd:string"/>
                                            </xsd:sequence>
                                         </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="autorizacaoProcedimentoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="situacaoAutorizacao" type="xsd:string"/>
                        <xsd:element name="senhaAutorizacao" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="motivoGlosa" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="tissSolicitacaoProcedimento_Request">
        <part name="loteGuias" element="tns:loteGuias"/>
    </message>

    <message name="tissSolicitacaoProcedimento_Response">
        <part name="autorizacaoProcedimentoResponse" element="tns:autorizacaoProcedimentoResponse"/>
    </message>

    <portType name="tissSolicitacaoProcedimento_PortType">
        <operation name="tissSolicitacaoProcedimento_Operation">
            <input message="tns:tissSolicitacaoProcedimento_Request"/>
            <output message="tns:tissSolicitacaoProcedimento_Response"/>
        </operation>
    </portType>

    <binding name="tissSolicitacaoProcedimento_Binding" type="tns:tissSolicitacaoProcedimento_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="tissSolicitacaoProcedimento_Operation">
            <soap:operation soapAction="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoProcedimento/v40100/tissSolicitacaoProcedimento_Operation"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="tissSolicitacaoProcedimento_Service">
        <port name="tissSolicitacaoProcedimento_Port" binding="tns:tissSolicitacaoProcedimento_Binding">
            <soap:address location="http://localhost:8000/ws/tiss"/>
        </port>
    </service>
</definitions>
